@import '../theme/theme.css';

.MoreCellWrapper {
    color: var(--color-font-primary);
    background: var(--color-secondary);
    font-family: var(--font-main);
    display: block;
}

.MoreCellFirstItem {
    float: left;
    margin-right: 5px;
}

.MoreCellButtonWrapper {
    float: left;
}

.MoreButton {
    color:var(--color-font-link);
    cursor: pointer;
}

.MorePopper {
    padding: 5px;
}

.MorePopoverTitle {
    font-weight: bold;
    margin: 20px 20px 5px;
}

.MorePopoverValues {
    color: var(--color-font-secondary);
    margin: 2px 20px 20px;
}

.MorePopoverValue {
    color: var(--color-font-secondary);
    margin: 4px 0;
}
